body {
    background-color: white;
}

h1 {
    text-align: center;
    color: #2058b4;
    height: 50px;
}

h3 {
    color: #2058b4;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
}

.red {
    background-color: red;
    opacity: 1;
    transition: 1s;
}

.green {
    background-color: green;
    opacity: 1;
    transition: 1s;
}

.content {
    background-color: #af8c8c;
    margin: 0 auto;
    height: 500px;
    width: 800px;
}

.startButtonTest1 {
    width: 100px;
    height: 50px;
    margin: auto;
}

.nextButton {
    margin-left: 150px;
}

.nextTest {
    margin-left: 250px;
}

.nextTest2 {
    background-color: #b3f9f8;
    width: 300px;
}

.nextTest2:hover {
    cursor: pointer;
}

.nextTest3 {
    background-color: #b3f9f8;
    width: 300px;
}

.nextTest3:hover {
    cursor: pointer;
}

.scoreDiv {
    margin-left: 350px;
    color: #64eab9;
}

.Sverige {
    background-color: #006aa8;
    position: relative;
    width: 60px;
    height: 40px;
    margin: 30px;
}

.gulVertikal {
    position: absolute;
    left: 24px;
    width: 10px;
    height: 40px;
    background-color: #fecd00;
    pointer-events: none;
}

.gulHorisontell {
    position: absolute;
    top: 14px;
    width: 60px;
    height: 10px;
    background-color: #fecd00;
    pointer-events: none;
}

.Holland {
    background-color: #fff;
    position: relative;
    width: 60px;
    height: 40px;
    margin: 30px;
}

.röd {
    position: absolute;
    width: 60px;
    height: 14px;
    background-color: #ae1c28;
    pointer-events: none;
}

.blå {
    position: absolute;
    top: 26px;
    width: 60px;
    height: 14px;
    background-color: #21468b;
    pointer-events: none;
}


.Danmark {
    background-color: #fe0000;
    position: relative;
    width: 60px;
    height: 40px;
    margin: 30px;
}

.rö {
    position: absolute;
    left: 14px;
    width: 10px;
    height: 40px;
    background-color: #fff;
    pointer-events: none;
}

.hvid {
    position: absolute;
    top: 14px;
    width: 60px;
    height: 10px;
    background-color: #fff;
    pointer-events: none;
}

.Finland {
    background-color: #fff;
    position: relative;
    width: 60px;
    height: 40px;
    margin: 30px;
}

.blåe {
    position: absolute;
    left: 24px;
    width: 10px;
    height: 40px;
    background-color: #309;
    pointer-events: none;
}

.vitt {
    position: absolute;
    top: 14px;
    width: 60px;
    height: 10px;
    background-color: #309;
    pointer-events: none;
}

.divForFlags1 {
    margin-left: 250px;
    width: 90px;
    height: 150px;
    float: left;
}

.divForFlags2 {
    height: 150px;
    width: 90px;
    float: left;
}

.divForFlags3 {
    height: 150px;
    width: 90px;
    float: left;
}

.divForList {
    float: right;
    margin-right: 100px;
}

.hide {
    background-color: grey;
}


.startButtonTest1 {
    margin-left: 350px;
}

.pointer {
    cursor: pointer;
}

.width100 {
    width: 100px;
}

.width250 {
    width: 250px;
}
